@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color:beige;
}

.navBar {
  background-color: #124E78;
  overflow: hidden;
  text-align: center;
}

.navBar a {
    float: left;
    color: #9EA3B0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navBar a:hover {
background-color: #ddd;
color: black;
}

.navBar a.active {
  background-color: #0A2E36;
  color: beige;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px
}

.col-50{
  -ms-flex: 75%;
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 20px 30px;
}



input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #9EA3B0;;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
  color: white;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}


span.price {
  float: right;
  color: #9EA3B0;;
}

@media (max-width: 800px) {
  .row{
    flex-direction:column-reverse
  }
  .col-25 {
    margin-bottom: 10px;
  }
}

.cardContent {
  display:flex;
  justify-content:space-around;
  
}

.cardBody {
    width: 400px;
    height: 400px;
    margin: 10px;
}

.btn {
  position:sticky;
  color: #9EA3B0;
  width: 50%;
  border: solid 0.1rem;
  border-radius: round;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  justify-content:center;
  background-color: #124E78;
}


.h5{
  display: flex;
  justify-content: left;
  margin: 1px;
  padding: 1px;
  color: #9EA3B0;
}

.h1, h4{
  color: #9EA3B0;
  font-weight: bold;
}

.p{
  display:flex;
  justify-content:space-evenly;
  color:#9EA3B0;
  margin:1px;
  padding: 2px;
}

input[type=text] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}


.hr {
  width: 50%;
}

.checkoutDiv {
  margin: 20px;
}

.card {
  width: 20rem;
  display: grid;
  border: solid 0.1rem;
  color: #9EA3B0;
  margin: 45px;
}
.divCard {
  display: inline;
  justify-content:right;
  padding: 20px;
  margin: 20px;
}

.directionCard {
  display:grid;
  justify-content: space-around;
  
}

.div1{
  float: right;
}

input[type="number"] {
  width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.productCard {
  display: flex;
  justify-content: space-evenly;
    box-shadow: 200rem;
}

input[type="password"] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.expiryData {
    width: 60%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
}

.price{
  display: flex;
    justify-content: space-evenly;
    color: black;
    margin: 1px;
    padding: 2px;
    font-size: larger;
    font-style: italic;
}

.icon{
  display: flex;
  justify-content:space-evenly;
  color: #124E78;
  font-size: 12px;
  position:static;
}

.iconSocial{
  width: 50%;
  font-size: 15em;
  display: flex;
    justify-content:space-evenly;
    padding: 40px;
    margin: 40px;
    float: right;
    
}

.form{
  margin: 10px;
  padding: 10px;
}

.cardButton {
  display: flex;
  justify-content:space-evenly;
}

.formDiv {
  margin: 10rem;
  margin-top: 1rem;
}
.iconDirection{
float: left;
}

.input-icon {
  position: relative;
  right:35px;
  bottom:25px;
  transform: translateY(150%);
  color: #124E78;
}

input {
  padding-left: 30px;
}

.container {
  position: relative;
}